<h4 class="text-center"> Register to embrace a new world!</h4>

<form #form="ngForm" [formGroup]="signUpForm" (submit)="signUp()" class="mt-2">
    <mat-form-field appearance="outline" class="input-field-full-width">
        <input #emailInput matInput formControlName="email" placeholder="email" autofocus>
        <mat-error *ngIf="signUpForm.get('email').errors?.required && form.submitted">
            Email is required
        </mat-error>
        <mat-error *ngIf="signUpForm.get('email').errors?.email && form.submitted">
            Invalid Email
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field-full-width">
        <input matInput formControlName="fullName" placeholder="full name">
        <mat-error *ngIf="signUpForm.get('fullName').errors?.required && form.submitted">
            Full name is required!
        </mat-error>
        <mat-error *ngIf="signUpForm.get('fullName').errors?.minlength && form.submitted">
            Minimum length is 2
        </mat-error>
        <mat-error *ngIf="signUpForm.get('fullName').errors?.maxlength && form.submitted">
            Maximum length is 40
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field-full-width">
        <input matInput formControlName="userName" placeholder="user name">
        <mat-error *ngIf="signUpForm.get('userName').errors?.required && form.submitted">Username is required!</mat-error>
        <mat-error *ngIf="signUpForm.get('userName').errors?.minlength">Minimum length is 2</mat-error>
        <mat-error *ngIf="signUpForm.get('userName').errors?.maxlength">Maximum length is 30</mat-error>
        <mat-error *ngIf="signUpForm.get('userName').errors?.lowerCase">Must be lowercase</mat-error>
        <mat-error *ngIf="signUpForm.get('userName').errors?.userNameTaken">Username already taken</mat-error>
    </mat-form-field>
    <small *ngIf="signUpForm.get('userName').valid" class="text-success">User available</small>

    <mat-form-field appearance="outline" class="input-field-full-width">

        <input matInput formControlName="password" type="password" placeholder="password">
        <mat-error *ngIf="signUpForm.get('password').errors?.required && form.submitted" text="Password is required!">
        </mat-error>
        <mat-error *ngIf="signUpForm.get('password').errors?.minlength && form.submitted" text="Minimum length is 8">
        </mat-error>
        <mat-error *ngIf="signUpForm.get('password').errors?.maxlength && form.submitted" text="Maximum length is 14">
        </mat-error>
        <mat-error *ngIf="signUpForm.errors?.userNamePassword" text="Username and password must be different">
        </mat-error>
    </mat-form-field>

    <button class="input-field-full-width" mat-raised-button color="primary" type="submit">Register</button>  

    <p class="mt-3">Already a user? <a [routerLink]="['']">Sign In</a></p>
</form>