<div *ngIf="(comments$ | async) as comments">
    <ul class="list-unstyled comment-list">
        <li *ngFor="let comment of comments">
            <a class="text-dark font-weight-bold mr-1" [routerLink]="['/user', comment.userName]">
                {{ comment.userName }}
            </a>
            <em>
                {{ comment.date | date:'dd-MM-yyyy HH:mm' }}
            </em>
            <p class="break-word mb-2">
                {{ comment.text }}
            </p>
        </li>
    </ul>
    <div>
        <form [formGroup]="commentForm" (submit)="addComment()">
            <mat-form-field appearance="outline" class="input-field-full-width">
                <textarea matInput formControlName="comment" placeholder="Add comment"></textarea>
            </mat-form-field>
            <div class="input-group-append">
                <button mat-raised-button color="primary" type="submit" 
                    [disabled]="commentForm.invalid" 
                    class="pull-right">Add Comment</button>
            </div>
            <app-vmessage 
                text="Maximun size allowed is 300" 
                *ngIf="commentForm.get('comment').errors?.maxlength">
            </app-vmessage>
        </form>
    </div>
</div>
