<div class="container mt-3" *ngIf="(photo$ | async) as photo">
  <mat-card>
    <div class="row">
      <div class="col-5">
        <app-photo [url]="photo?.url" [description]="photo?.description"></app-photo>
      </div>
      <div class="col-7">
        <h2 class="text-left break-word">{{ photo.description }}</h2>
        <div class="d-flex justify-content-between mb-4" style="font-size: 24px;">
          <fa-icon photoOwnerOnly [photo]="photo" [icon]="faTrash" (click)="removePhoto()" ></fa-icon>
        </div>
        <p class="text-left break-word">
          {{ photo.description }}
        </p>
        <div class="d-flex flex-row" style="font-size: 16px;">
          <div class="p-1">
            <app-like-button></app-like-button>
          </div>
          <div class="p-1">
            <button mat-icon-button color="basic" >
              <mat-icon>comment</mat-icon>
            </button>
          </div>
        </div>
        <p class="mt-4 mb-1"><strong>{{ photo.likes }} likes</strong></p>
        <div class="mt-3">
          <app-photo-comments *ngIf="photo.allowComments; else warning" [photoId]="photo.id"></app-photo-comments>
        </div>
        <ng-template #warning>
          <p>User has disabled comments for this photo</p>
        </ng-template>  
      </div>
    </div>
  </mat-card>
</div>