<div class="bg-white border" *ngIf="(photo$ | async) as photo">
    <div class="row">
      <div class="col-lg-8">
        <app-photo [url]="photo?.url" [description]="photo?.description"></app-photo>

      </div>
  
      <div class="col-lg-4 p-4">
        <small>
            <p class="text-left break-word">{{ photo.description }}</p>
            <div class="d-flex justify-content-between mb-4" style="font-size: 24px;">
              <div>
                <fa-icon [icon]="faComment"></fa-icon> {{ photo.comments }}
              </div>
              <fa-icon photoOwnerOnly [photo]="photo" [icon]="faTrash" (click)="removePhoto()" ></fa-icon>
            </div>
            <hr>
        </small>
        <app-photo-comments *ngIf="photo.allowComments; else warning" [photoId]="photo.id"></app-photo-comments>
        <ng-template #warning>
          <p>User has disabled comments for this photo</p>
        </ng-template>
      </div>
    </div>
  </div>