<h4 class="text-center">Login</h4>

<form [formGroup]="loginForm" (submit)="login()">

    <mat-form-field appearance="outline" class="input-field-full-width">
        <input matInput formControlName="userName" placeholder="Username" autofocus>
        <mat-error *ngIf="loginForm.get('userName').errors?.required">
            Username is required
        </mat-error> 
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-field-full-width">
        <input matInput formControlName="password" type="password"  placeholder="password">
        <mat-error *ngIf="loginForm.get('password').errors?.required">
            Password is required
        </mat-error>
    </mat-form-field>   

    <p>
        <button class="input-field-full-width" mat-raised-button 
            [disabled]="loginForm.invalid" color="primary" type="submit">Login</button>
    </p>

</form>

<p>Not a user? <a [routerLink]="['signup']">Register now</a></p>