<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Pictures</span>
    <span class="example-spacer"></span>

    <div *ngIf="(user$ | async) as user; else login">
        <button mat-icon-button>
            <mat-icon matBadge="15" matBadgeColor="warn">favorite</mat-icon>
        </button>
        <button mat-icon-button >
            <mat-icon matBadge="15" matBadgeColor="warn">comments</mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Settings</button>
            <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
    </div>

    <ng-template #login>
        <span class="navbar-text mr1">
            <a [routerLink]="['']">Login</a>
        </span>        
    </ng-template>
</mat-toolbar>
<div>
    <app-loading></app-loading>
    <app-alert></app-alert>
</div>
