<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Pictures</span>
    <span class="example-spacer"></span>

    <div *ngIf="(user$ | async) as user; else login">
        <mat-icon>face</mat-icon>
        <a> {{ user.name }} </a>
        <a (click)="logout()"> Logout </a>
    </div>

    <ng-template #login>
        <span class="navbar-text mr1">
            <a [routerLink]="['']">Login</a>
        </span>        
    </ng-template>
</mat-toolbar>
<div>
    <app-loading></app-loading>
    <app-alert></app-alert>
</div>
